body
{
	margin: 0;
	background-color: #C4DFE6;
}
.wrapper
{
	width: 1000px;
	font-family: Verdana;
	margin-left: auto;
	margin-right: auto;
}
.logo
{
	height: 70px;
	background-color: #003B46;
	
	font-size: 50px;
	letter-spacing: 7px;
	text-align: center;
	padding-top: 10px;
}
.menu
{
	height: 40px;
	background-color: #07575B;
}
.menu_option
{
	float:left;
	color: black;
	width: 228.5px;
	padding: 10px;
	border-left: 2px dashed black;
	
	text-align: center;
}
.menu_option:hover
{
	background-color: #003B46;
	
}
.content
{
	background-color: #66A6AD;
	text-align: justify;
	font-size: 14px;
	padding: 10px;
}
p
{
	text-indent: 40px;
}
div.naglowek
{
	text-align: center;
}
div.picture_rooster
{
	background-image: url("photos/kogut.jpg");
	background-attachment: fixed;
	width: 100%;
	height: 300px;
	text-align: center;
}
.footer
{
	height: 40px;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 13px;
	padding-top: 20px;
	clear: both;
}
.square_media
{
	padding: 100px;
	float: left;
}
.square_media:hover
{
	background-color: #66A6AD;
}
.square_media > img
{
	width: 300px;
	
}